<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body{
      text-align: center;
      padding: 0;
      margin: 0;
    }
    ul{
      list-style: none;
    }
    .head{
      text-align: center;
    }
    h1{
      color:darksalmon;
    }
    .finished{
      text-decoration: line-through red;
    }
  </style>
</head>
<body>
  <div id="todolist">
    <img src="todolist.jpg" alt="title">
    <h1>{{title}}</h1>
    <input type="text" v-model="newItem" @keyup.enter="addNew">
    <ul>
      <li v-for="(item,index) in items" >
        <span v-bind:class="{finished:item.isFinished}" @click="toggleFinish(item)">{{index+1}}、{{item.label}}</span>
      </li>
    </ul>
  </div>
</body>
</html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
  var app=new Vue({
    el:'#todolist',
    data:{
      title:'This is a todo list',
      items:this.fetch(),
      newItem:''
    },
    watch:{
      items:{
        handler:function(items){
          this.save(items);
        },
        deep:true
      }
    },
    mounted(){
    },
    methods:{
      toggleFinish(item){
        item.isFinished=!item.isFinished;
      },
      addNew(){
        this.items.push({
          label:this.newItem,
          isFinished:false
        })
        this.newItem='';
      },
      //存储
      fetch(){
        return JSON.parse(window.localStorage.getItem(
          'todo-vuejs'));
      },
      save(items){
       window.localStorage.setItem('todo-vuejs',JSON.stringify(items));
      }
    }
  })
</script>